beautifulsoup4
flask==1.1.1
h5py
ipykernel
japanize_matplotlib
keras==2.4.3
lightgbm
matplotlib
mlxtend
nose
numpy
opencv-python==4.5.4.58
pandas
Pillow
plotly
pycaret
pydot==1.4.1
requests
# seaborn
scikit-learn==1.0.1
scipy
setuptools
xgboost